.divInicial {
    background-color: aqua;
}

.cardBody {
    background-color: white;
    margin-bottom: 3px;
    text-align: center;
}

.cardBodyDark {
    background-color: hsl(0, 0%, 33%);
    margin-bottom: 3px;
    text-align: center;
}

.itemDetail {
    max-width: 740px;
    margin-top: 10px;
}

.divForm {
    margin-top: 20px;
}

.darkMode {
    background-color: black;
    color: gainsboro;
}